$primary:#261DAE;
$carousel-indicator-active-bg:#261DAE;
$navbar-toggler-focus-width: none;
$navbar-light-toggler-border-color:none;
@import "../libraryForWeb/node_modules/bootstrap/scss/bootstrap.scss";
