:root {
  --effect: hover 1s linear infinite;
}
* {
  margin: 0;
}
.loaderPage {
  position: fixed;
  top: 0;
  z-index: 4;
  background: #000000;
  width: 100%;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.loaderPage p {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
  font-family: arial;
  font-weight: 600;
  transform: scale(0.5);
  color: #121212;
  -webkit-text-stroke: 2px gray;
}

.pOne {
  animation: var(--effect);
}

.pTwo {
  animation: var(--effect) 0.125s;
}

.pThree {
  animation: var(--effect) 0.25s;
}

.pFour {
  animation: var(--effect) 0.375s;
}

.pFive {
  animation: var(--effect) 0.5s;
}

.pSix {
  animation: var(--effect) 0.675s;
}

.pSeven {
  animation: var(--effect) 0.75s;
}

@keyframes hover {
  0% {
    transform: scale(0.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
  }

  20% {
    transform: scale(1);
    color: pink;
    -webkit-text-stroke: 3px red;
    filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black)
      drop-shadow(0 0 3px red) drop-shadow(0 0 5px red) hue-rotate(10turn);
  }

  50% {
    transform: scale(0.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
  }
}
@media (max-width: 576px) {
  .loaderFs {
    font-size: 30px !important;
  }
}
